@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');


*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-unbounded{
    font-family: 'Unbounded';
}

.font-comfortaa{
    font-family: 'Comfortaa';
}

.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #318db2;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 99999;
}

.grow, .grow-small{
    transform: scale(6);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}

.grow-small{
 transform: scale(2.5);
}

.pre-loader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.loader{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 400px;
    z-index: 2;
    color: white;
}

.count {
    flex: 2;
    text-align: right;
    line-height: 1;
    padding: 0 1em;
    font-size: 50px;
}

.copy {
    flex: 6;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
}

.loader-bg {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background: #318db2 ;
    z-index: -1;
}

.loader-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:  url('../assets/img/abstract.jpeg');
    background-size: cover;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.site-content{
    position: relative;
    z-index: 2;
}

.Hero_container{
    height: 100vh;
    width: 100%;
    background: #c7c1b6;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.Img_hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 100%;
    width: 70%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.Footer_hero{
    position: absolute;
    top: 80%;
    width: 100%;
    padding: 0px 5em;
    color: #153378;
}

.footer_text{
    max-width: 40rem;
}


.wrapper{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.Header_hero{
    color: #153378;
}

.split-type{
    font-size: 120px;
    top: 0;
    letter-spacing: -15px;
}

.btn{
    border: 1px solid #153378;
}

.btn:hover{
    border: 1px solid #153378;
    background: #153378;
    color: white;
}



.header {
    z-index: 99;
}

/* #intro{
    position: fixed;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
} */

.circle {
    left: -600px;
    top: 650px;
}

.marque{
    overflow: hidden;
}

.marque--inner{
    position: relative;
    left: 150px;
    animation: Loops 5s linear infinite;
    transform: translate3d(-25%, 0, 0);
    transition: opacity .55s;
}

@keyframes Loops {
    0%{
        transform: matrix(1, 0, 0, 1, 1, 0);
        animation-timing-function: linear;
    }
    100%{
        transform: matrix(1, 0, 0, 1, -260, 0);
        opacity: 1;
    }
}
.nav{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    border-radius: 50px;
}
.Text_content {
    max-width: 70rem;
}

.Head_about {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.eyebrow {
    transform: rotate(-3deg);
    transform-origin: bottom left;
}


.pfp {
    background: url('../assets/img/bg-pfp.jpg') no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 400px;
    width: 300px;
    background-position: center;
}

li:hover{
    color: #153378;
    text-decoration: line-through;
}

/* #277696 */

.transitions {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #c7c1b6;
    background-size: cover;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.About_container{
    background: #153378;
    height: 100vh;
    width: 100%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.Header_about{
    line-height: 0.8;
    max-width: 900px;
}

.Content_about{
    line-height: 0.9;
    max-width: 900px;
}

.Say_hi{
    letter-spacing: -10px;
    font-size: 84px;
}
.My_name{
    letter-spacing: -5px;
    font-size: 40px;
    text-align: right;
}

.experted{
    line-height: 0.9;
    max-width: 850px;
}

.pss{
    width: 200px;
    height: 100px;
    background-color: #c7c1b6;
    border: 1px solid #c7c1b6;
    box-shadow: 1px 1px 2px 2px #333333;
}

.Contact_container {
    background: url('../assets/img/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 450px ) {
    .Footer_hero{
        /* position: absolute; */
        top: 70%;
    }
    .split-type{
        font-size: 50px;
        top: 0;
        line-height: 35px;
        padding-top: 20%;
        letter-spacing: -8px;
    }
    .nd{
        font-size: 20px;
    }
    .Footer_hero{
        padding: 0px 0px;
    }
    .img{
        width: 100%;
        height: 100%;
        margin-top: 25%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .About_container{
        background: #153378;
        height: 100%;
        width: 100%;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}