.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,150 C 59.51769806233314,150.4873641914933 119.03539612466628,150.9747283829866 165,145 C 210.96460387533372,139.0252716170134 243.37611356366807,126.58845065954692 283,119 C 322.62388643633193,111.41154934045308 369.4601496206614,108.67146897882577 425,102 C 480.5398503793386,95.32853102117423 544.7832879536863,84.72567342515003 599,86 C 653.2167120463137,87.27432657484997 697.4066985645933,100.42583732057416 735,101 C 772.5933014354067,101.57416267942584 803.5899177879406,89.57097729255332 845,116 C 886.4100822120594,142.42902270744668 938.233630283645,207.29025350921253 989,193 C 1039.766369716355,178.70974649078747 1089.4755610774803,85.26800867059661 1141,82 C 1192.5244389225197,78.73199132940339 1245.8641254064344,165.63771180840098 1296,192 C 1346.1358745935656,218.36228819159902 1393.067937296783,184.1811440957995 1440,150 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,150 C 53.46727378466257,166.2305374183827 106.93454756932513,182.46107483676545 153,204 C 199.06545243067487,225.53892516323455 237.72908350736208,252.38623807132095 279,223 C 320.2709164926379,193.61376192867905 364.14911840122653,107.99397287795077 420,78 C 475.85088159877347,48.006027122049225 543.6744428877316,73.63787041687596 588,102 C 632.3255571122684,130.36212958312404 653.153110047847,161.45454545454544 695,158 C 736.846889952153,154.54545454545456 799.7131169208807,116.54394776494225 853,92 C 906.2868830791193,67.45605223505775 949.9944222686299,56.36966348568558 997,87 C 1044.00557773137,117.63033651431442 1094.3091940045997,189.97739829231543 1148,203 C 1201.6908059954003,216.02260170768457 1258.7688017129717,169.72074334505274 1308,151 C 1357.2311982870283,132.27925665494726 1398.6155991435141,141.13962832747364 1440,150 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,150 C 34.5481508895292,139.17063628433212 69.0963017790584,128.34127256866424 126,134 C 182.9036982209416,139.65872743133576 262.16294377329564,161.80554600967514 311,176 C 359.83705622670436,190.19445399032486 378.25192312775914,196.4365433926353 417,187 C 455.74807687224086,177.5634566073647 514.8293637156678,152.44828041978377 575,159 C 635.1706362843322,165.55171958021623 696.4306220095693,203.7703349282297 740,215 C 783.5693779904307,226.2296650717703 809.4481482460545,210.47037986729757 846,201 C 882.5518517539455,191.52962013270243 929.7767850062123,188.34814560258005 984,178 C 1038.2232149937877,167.65185439741995 1099.4447117290965,150.13703772238227 1150,143 C 1200.5552882709035,135.86296227761773 1240.444368077401,139.10370350789077 1287,142 C 1333.555631922599,144.89629649210923 1386.7778159612994,147.44814824605461 1440,150 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,150 C 42.10893758756508,123.03634777551613 84.21787517513016,96.07269555103228 132,91 C 179.78212482486984,85.92730444896772 233.23743688704434,102.74556557138703 289,104 C 344.76256311295566,105.25443442861297 402.8323772766924,90.94504216341961 448,88 C 493.1676227233076,85.05495783658039 525.4330540061859,93.47426577493457 575,121 C 624.5669459938141,148.52573422506543 691.4354066985645,195.1578947368421 736,217 C 780.5645933014355,238.8421052631579 802.8253191995558,235.89415527769697 845,207 C 887.1746808004442,178.10584472230303 949.2633165032119,123.26548415236988 1000,100 C 1050.7366834967881,76.73451584763012 1090.1214147875967,85.04390811282349 1145,90 C 1199.8785852124033,94.95609188717651 1270.251024346401,96.55888339633614 1322,106 C 1373.748975653599,115.44111660366386 1406.8744878267994,132.72055830183194 1440,150 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,150 C 59.51769806233314,150.4873641914933 119.03539612466628,150.9747283829866 165,145 C 210.96460387533372,139.0252716170134 243.37611356366807,126.58845065954692 283,119 C 322.62388643633193,111.41154934045308 369.4601496206614,108.67146897882577 425,102 C 480.5398503793386,95.32853102117423 544.7832879536863,84.72567342515003 599,86 C 653.2167120463137,87.27432657484997 697.4066985645933,100.42583732057416 735,101 C 772.5933014354067,101.57416267942584 803.5899177879406,89.57097729255332 845,116 C 886.4100822120594,142.42902270744668 938.233630283645,207.29025350921253 989,193 C 1039.766369716355,178.70974649078747 1089.4755610774803,85.26800867059661 1141,82 C 1192.5244389225197,78.73199132940339 1245.8641254064344,165.63771180840098 1296,192 C 1346.1358745935656,218.36228819159902 1393.067937296783,184.1811440957995 1440,150 L 1440,400 L 0,400 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,600 L 0,350 C 95.85714285714289,319.5 191.71428571428578,289 311,306 C 430.2857142857142,323 572.9999999999998,387.5 717,386 C 861.0000000000002,384.5 1006.2857142857144,317 1127,300 C 1247.7142857142856,283 1343.8571428571427,316.5 1440,350 L 1440,600 L 0,600 Z");
    }

    25% {
        d: path("M 0,600 L 0,350 C 100.46428571428572,358.67857142857144 200.92857142857144,367.35714285714283 316,365 C 431.07142857142856,362.64285714285717 560.7500000000001,349.25 701,360 C 841.2499999999999,370.75 992.0714285714287,405.64285714285717 1117,408 C 1241.9285714285713,410.35714285714283 1340.9642857142858,380.17857142857144 1440,350 L 1440,600 L 0,600 Z");
    }

    50% {
        d: path("M 0,600 L 0,350 C 129.60714285714283,314.67857142857144 259.21428571428567,279.35714285714283 390,299 C 520.7857142857143,318.64285714285717 652.75,393.25 771,397 C 889.25,400.75 993.7857142857144,333.64285714285717 1103,314 C 1212.2142857142856,294.35714285714283 1326.1071428571427,322.17857142857144 1440,350 L 1440,600 L 0,600 Z");
    }

    75% {
        d: path("M 0,600 L 0,350 C 107.53571428571428,327.7142857142857 215.07142857142856,305.42857142857144 329,300 C 442.92857142857144,294.57142857142856 563.2499999999999,306 688,318 C 812.7500000000001,330 941.9285714285716,342.5714285714286 1068,348 C 1194.0714285714284,353.4285714285714 1317.0357142857142,351.71428571428567 1440,350 L 1440,600 L 0,600 Z");
    }

    100% {
        d: path("M 0,600 L 0,350 C 95.85714285714289,319.5 191.71428571428578,289 311,306 C 430.2857142857142,323 572.9999999999998,387.5 717,386 C 861.0000000000002,384.5 1006.2857142857144,317 1127,300 C 1247.7142857142856,283 1343.8571428571427,316.5 1440,350 L 1440,600 L 0,600 Z");
    }
}

* {
    color: white;
}
header{
    background-color: #015482;
}

#home {
    background-color: #30b1ce;
}

#about {
    background-color: #29a4c3;
}

#skills {
    background-color: #318db2;
}

#project {
    background-color: #046997;
}

#contact {
    background-color: #003b61;
}